/* Inserta tu codigo aqui */
*{
	font-family: "OpenSans-Light" Helvetica;
}
font-face{
	font-family: OpenSans-Regular;
	src: url(../fonts/Open/OpenSans-Regular.ttf);
}
@font-face{
	font-family: OpenSans-Light;
	src: url(../fonts/Open/OpenSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-Bold;
	src: url(../fonts/Open/OpenSans-Bold.ttf);
}
body{
font-family: Arial, Helvetica, sans-serif;
}
#navarriba {
    display: inline-block;
}
#logo {
    display: inline-block;
}
#navarriba ul li{
    display: inline-block;
    
}
#navarriba ul li a {
	text-decoration: none;
    font-weight: bold;
    color: rgb(83, 88, 95);
}
#logo img {
    background-size: contain;
    background-color: none;
    width: 135px;
}
#semi {
    height: 350px;
    background-image: url('../img/semilla.jpg');
}
#parrafouno {
    padding-top: 60px;
    height:150px;
}
#misionvision {
    margin: 30px;
    min-height: 350px;
}
#mision h2 p, #mision h2 p {
    margin: 5px;
}
ul.navbar-nav{
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}
#fotoweon {
    background-image:url('../img/metodo.JPG');
} 
#fondeverde {
    background-image:url('../img/fondo.jpg');
    padding: 100px 20px 20px 20px;
}
#mision,  #vision{
    padding: 5px;
}
#fotoymetod {
    min-height: 450px;
}
#educacionmitigacionbienestar img, #misionvision img, #consultoriasmanejoagri img {
    margin: 20px;
}
#educacionmitigacionbienestar div, #consultoriasmanejoagri div {
    margin: 40px;
}
#consultorias img {
    width: 132px;
    height: 128.6px;
}
#servicios {
    min-height: 1050px;
    margin-bottom: 40px;
}
#proyectoss {
    margin: 40px 0 0 0;
    align-items: center;
}
#proyectos img{
    width: 400px;
    margin: 15px;
}
#nombreproyecuno, #nombreproyecdos {
    margin: 20px 0 0 0;
}
#chinauno img, #chinados img {
    border-radius: 50%;
}
#rrss img{
    width: 60px;
    border-radius: 0%;
    margin: 5px;
}
#equipo{
    min-height: 600px;
}
#blogrs {
    background-image: url('../img/fondo2.jpg');
}
#contacto{
    text-align: right;
}


